typer[all]
fastapi
uvicorn[standard]
llama-index
llama-index-llms-groq
llama-index-embeddings-huggingface
llama-index-vector-stores-milvus
llama-index-postprocessor-cohere-rerank
llama-index-llms-langchain
llama-index-embeddings-langchain
pymilvus
pypdf
python-docx
python-dotenv
ragas
langchain
langchain-groq
langchain-community
llama-parse